---
layout: default
title: Milkshake
---
<div class="home-page">

  <section id="index">
    <div class="index">
      <div class="container">
        <div class="row">
          <h1 class="index-header">{{site.title}}</h1>
        </div>
        <div class="row">
          <div class="index-description">
            <p>
              {{site.description}}
            </p>
            <i {% if site.configuration.display.index_helper ==false %} style="display: none;" {% endif %}>
              "Go to <a href="#usage">_config.yml</a> for changing this text"
            </i>
          </div>
        </div>
        <div class="row">
          <a href="#latest-posts" class="index-slide-btn-hover" ><i class="lni lni-chevron-down index-slide-btn"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="latest-posts">
    <div class="post-list">
      <div class="container">
        <div class="row">
          <h1>Latest Posts</h1>
        </div>
        <div class="post">
          <div class="container">
            {% for post in site.posts | limit:4 reversed %}
            <div class="row">
              <div class="wrapper">
                <a href="{{post.url}}">
                  <h3>{{post.title}}</h3>
                </a>
                <p>{{post.excerpt | truncate: 150}}</p>
                <p class="date">{{post.date | date: "%-d %B %Y"}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="usage">
    <div class="usage" {% if site.configuration.display.usage == false %} style="display:none;" {% endif %}>
      <div class="container">
        <div class="row">
          <h1>Usage</h1>
        </div>
        <div class="row">
          <div class="usage-text">
            <p>
              Open <strong>_config.yml</strong> file and start the change:
            </p>
          </div>
            <div class="usage-code-wrapper">
                <code>
                  <div class="usage-codes">
                    title: "Milkshake"<br>  
                    description: "Simple, minimal and responsive..."<br>
                    <br>
                    base_link: '/'<br>
                    links:<br>
                    &nbsp;- name: About<br>
                    &nbsp;&nbsp;&nbsp;link: /about<br>
                    &nbsp;- name: Blog<br>
                    &nbsp;&nbsp;&nbsp;link: /blog<br>
                    <br>
                    configuration:<br>
                    &nbsp;display:<br>
                    &nbsp;&nbsp;usage: true <br>
                    &nbsp;&nbsp;index_helper: true <br>
                  </div>
                </code>
            </div>
          <div class="usage-text2">
            <p>
              Change just what you want. Example if you want to changing title on the above;<br>
              you just change the ' <strong>title</strong> ' object.
            </p>
            <p>
              (Detail help is exist in the _config.yml file)
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>