<div class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}"><i class="lni lni-juice navbar-logo"></i>&nbsp;Milkshake</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for item in site.links %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}style="color:red"{% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>