@import "./variables.scss";

body{
  font-family: "Poppins", Verdana, sans-serif;
  color: #333;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  margin: 0; 
  display:flex; 
  flex-direction:column;
}



a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color:	#F08080;
  text-decoration: underline 3px;
}

p{
  font-family: "Poppins", Verdana, sans-serif;
}

h1{
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
}

h2, h3, h4, h5, h6{
  font-weight: bold;
  margin-bottom: 10px;
}

//navbar
.navbar{
  padding: 10px;
  background-color: $foot-nav-bg-color;
  font-weight: bold;
  &-brand{
    font-size: 22px;
    color: #333;
  }
  &-brand:hover{
    text-decoration: none;
  }
  &-logo{
    font-weight: bold;
  }
}

.nav-item{
  font-size: 16px;
  color: #333;
}
  
//footer
.footer{ 
  margin-top: auto; 
  &-wrapper{
    padding: 20px 20px;
    height: 100px;
    text-align: center;
    background-color: $foot-nav-bg-color;
  }
  &-title{
    display: inline;
    color: $footer-items-color;
    font-weight: 800;
    a{
      color: #F08080;
    }
    a:hover{
      color:#CD5C5C;
    }
  }
  &-icons{
    margin-top: -8px;
    a:hover{
      color: #333;
    }
    font-size: 20px;
  }
}

//homepage
.home-page{
  text-align: center;
  .index{
    p{
      font-size: 18px;
    }
    padding-top: 200px;
    padding-bottom: 300px;
    &-header{
      font-family: "Secular One", sans-serif;
      font-weight: bold;
      font-size: 68px;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 350px) {
      &-header{
        font-size: 17*3px;
      }
    }
    &-slide-btn{
      font-size: 42px;
      font-weight: 900;
      margin-top: 150px;
    }
    &-slide-btn-hover:hover{
      color: rgb(93, 93, 93);
    }
  }

  .usage{
    padding-bottom: 300px;
    &-text{
      margin-bottom: 10px;
    }
    &-code-wrapper{
      background-color: #f8f8f8;
      padding: 25px;
      border-radius: 10px;
      margin: 0 auto;
      max-width: 500px;
    }
    @media only screen and (max-width: 550px) {
      &-code-wrapper{
        max-width: 400px;
      }
    }
    @media only screen and (max-width: 430px) {
      &-code-wrapper{
        max-width: 300px;
      }  
    }
    &-codes{
      text-align: left;
    }
    &-text2{
      margin-top: 30px;
      font-size: 15px;
      font-weight: 100;
      font-style: italic;
      color: rgb(103, 103, 103);
    }
  }
  .post-list{
    padding-top: 130px;
    padding-bottom: 300px;
    .post{
      .wrapper{
        margin: 0 auto;
        text-align: left;
        max-width: 700px;
        height: auto;
        padding: 10px;
        margin-bottom: 30px;
        border-bottom: solid 2px #333;
      }
      .date{
        color: rgb(61, 61, 61);
        font-size: 13px;
      }
    }
    @media only screen and (max-width: 586px) {
      
      }
  }
}
.blog{
  text-align: center;
  .post-list{
    padding-top: 20px;
    padding-bottom: 100px;
    .post{
      .wrapper{
        margin: 0 auto;
        text-align: left;
        max-width: 700px;
        height: auto;
        padding: 10px;
        margin-bottom: 30px;
        border-bottom: solid 2px #333;
      }
      .date{
        color: rgb(61, 61, 61);
        font-size: 13px;
      }
    }
    @media only screen and (max-width: 586px) {
      
      }
  }
}


.about{
  padding: 130px 100px;
}

.blog{
  padding:130px 100px;
}
